    <!-- <title>Venga - Find your next sporting activity in one click !</title>
    <meta name=“description" content=" Venga helps you finding unique sport experiences offered by passionate trainers across the world"> -->

    <div>
      <div class="banner-top">
        <div class="background">
          <div id="nav-button" class="fb-like" data-href="https://www.facebook.com/bevenga/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
          <div class="title">
            <div class="img1">
              <%= image_tag("LogoVenga11.png", :alt => "rss feed", :height => "100%", :width => "100%") %>
            </div>
            <div class="frontline">
              <p>Planning your next workout should be <span style="color: #2FC7AB"> easy</span>.</p>
            </div>
            <div>
              <a href="http://www.be-venga.com/thankyou" class="find btn hvr-grow">Find your coach !</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="vp">
      <div class=" sub-title text-center">
        <p>Venga is a platform that connects you with coaches offering sporting activities in Brussels.</p>
      </div>
      <div class="mock">
        <%= image_tag("Background101", :alt => "rss feed", :height => "100%", :width => "100%") %>
      </div>
    </div>

    <div class="cont">

        <div class="row list-inline">
          <div class="card1 text-center">
            <div class="imag1">
              <%= image_tag("find41.png", :alt => "rss feed", :height => "100%", :width => "100%") %>
            </div>
            <div class="card-expl">
              <p>Find your next sporting activity using our searching tool. </p>
            </div>
          </div>

          <div class="card text-center">
            <div class="imag2">
              <%= image_tag("tick1.png", :alt => "rss feed", :height => "100%", :width => "100%") %>
            </div>
            <div class="card-expl">
              <p>Book it directly or contact your coach for more infos.</p>
            </div>
          </div>
          <div class="card text-center">
            <div class="imag2">
              <%= image_tag("heart11.png", :alt => "rss feed", :height => "100%", :width => "100%") %>
            </div>
            <div class="card-expl">
              <p>Take up your next challenge and enjoy the ride !</p>
            </div>
          </div>
        </div>
    </div>

    <div class="background2">

    </div>

    <div>
      <div class="banner-middle">
        <div class="list-inline">
          <div class="img2">
            <%= image_tag("mock-up121.png", :alt => "rss feed", :height => "100%", :width => "100%") %>
          </div>
          <div class="argu1">
            <div class="boost">
              <h2>Enjoy your workout, reach your <span style="color: #2FC7AB">objectives.</span></h2>
            </div>
            <p><strong>Sporties</strong> can now enjoy unique sport experiences in their own time. Exercising with the Venga Community will take your motivation as high as your objectives. </p>
              <a href="#signup_mailchimp" class="btn hvr-buzz-out">Join as a Sporty</a>
            <div class="argu2">
              <p><strong>Trainers</strong> are sport passionates willing to share their competences with other sporties. Turning your passion into a profitable activity is now possible. </p>
              <a href="#signup_mailchimp" class="btn hvr-buzz-out">Join as a Trainer</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="back">

  <div class="form" id="signup_mailchimp">
      <div class="title2 text-center">
        <h3>Join us now and be the among the first members to test the plaftorm !</h3>
      </div>

      <div class="text-center">

        <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;  width:400px;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="//be-venga.us14.list-manage.com/subscribe/post?u=ce639eb024159bf1e699a6211&amp;id=155075fc44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="hello@be-venga.com">
          </div>
          <div class="mc-field-group input-group">
              <p class="Iamm">I am interested to join as a: </p>
              <ul><li><input type="radio" value="1" name="group[1817]" id="mce-group[1817]-1817-0"><label for="mce-group[1817]-1817-0">Sporty</label></li>
          <li><input type="radio" value="2" name="group[1817]" id="mce-group[1817]-1817-1"><label for="mce-group[1817]-1817-1">Trainer</label></li>
          <li><input type="radio" value="4" name="group[1817]" id="mce-group[1817]-1817-2"><label for="mce-group[1817]-1817-2">Both</label></li>
          </ul>
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ce639eb024159bf1e699a6211_155075fc44" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Join us !" name="subscribe"  class="buton hvr-buzz-out"></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->

      </div>
      </div>
  </div>

      <div class="footer list-inline">
        <div class="copyright">
          <p>Copyright @ Venga 2016 - All rights reserved</p>
        </div>
        <div class="infos list-inline">
          <a href="https://www.facebook.com/bevenga">
            <i class="fa fa-facebook hello"></i>
          <a href="mailto:hello@be-venga.com?subject=Info Venga">
            <i class="fa fa-envelope hello" aria-hidden="true"></i>
          </a>
          <p class="phone">+32(0)498/26.58.23</p>
        </div>

      </div>
