    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->
        <header id="header" class="header">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                  <%= link_to root_path do %>

                  <img src="http://res.cloudinary.com/dskagnrtl/image/upload/v1489412008/Logo-Venga1_copy_rl9xio.png" class="logo-white" alt="Venga" id="logo1"</>

                  <img src="http://res.cloudinary.com/dskagnrtl/image/upload/v1489411792/Logo-Venga3_copy_bpewnp.png" class="logo-dark" alt="Venga" id="logo2"</>

                  <% end %>

                </div>

                <div class="logo4">
                  <a href="http://www.be-venga.com/en">
                    <p class="logo4-txt">EN</p>
                  </a>
                </div>
                <div class="logo5">
                  <a href="">
                  </a>
                </div>
                <div class="logo6">
                  <a href="http://www.be-venga.com">
                    <p class="logo4-txt">FR</p>
                  </a>
                </div>
                <div class="logo2">
                  <a href="https://www.facebook.com/bevenga/">
                    <i class="fa fa-3x fa-facebook" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="logo3">
                  <a href="https://www.instagram.com/_venga/">
                    <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>

                <!-- End Logo -->


                <!-- Navbar Navigation -->
                <div class="nav-menu singlepage-nav">
                    <ul class="nav-menu-inner">
                        <li>
                            <a class="" href="#about">À Propos</a>
                        </li>
                        <li>
                            <a class="" href="#media">Media</a>
                        </li>
                        <li>
                            <a class="" href="#contact-section">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- End Navbar Navigation -->

            </div>
        </header>
        <!-- END HEADER -->

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
        <section id="intro">
            <!-- Hero Slider Section -->
            <div class="flexslider fullscreen-carousel hero-slider-1 ">
                <ul class="slides">

                    <!--Slide-->

                        <div class="slide-bg-image overlay-dark parallax parallax-section1" data-background-img="http://res.cloudinary.com/dskagnrtl/image/upload/v1489391898/Home1_copy_esdhcn.jpg">
                            <div class="js-Slide-fullscreen-height container">
                                <div class="intro-content">
                                    <div class="intro-content-inner">
                                        <h1 class="headerhome"><span style="color:#2FC7AB; font-weight:800;">Redécouvrez le Sport.</span> Définissez vos objectifs et trouvez votre coach sportif idéal.</h1>
                                          <div class="container text-center">
                                            <div class="row text-center">
                                              <div class="col-md-8 col-md-offset-2">
                                              <%= link_to "Découvrir nos coachs", trainers_path, class: "btn btn-lg btn-green-line" %>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </ul>
            </div>
            <!-- End Hero Slider Section -->
        </section>
        <!-- End Intro Section -->

        <div class="clearfix"></div>

        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">Venga. Le coaching sportif sur mesure</h3>
                        <div class="vertical-lign"></div>
                        <div class="spacer-15"></div>
                        <p class="lead">Venga est le premier abonnement universel de <span style="font-weight:800;">coaching sportif individuel</span> à Bruxelles. Il vous permet de toujours vous entrainez avec le coach qui répond le mieux à vos besoins. Un changement d'objectif? Une envie de diversifier vos séances? Il y a toujours un coach Venga prêt à vous emmener vers vos objectifs les plus fous !</p>

                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->


        <section id="how-it-works" class="bg-img1 overlay-dark80 dark-bg ptb ptb-sm-80">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h3>Planifiez vos séances en toute simplicité</h3>
              </div>
            </div>
            <div class="spacer-60"></div>
            <div class="vertical-lign"></div>
            <div class="spacer-60"></div>
            <div class="row">
              <div class="col-md-4 col-sm-6 mb-45">
              <div class="page-icon-top"><i class="ion ion-ios-search"></i></div>
                <h5>Trouvez votre coach sportif</h5>
              </div>
              <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-android-done"></i></div>
                <h5>Réservez votre séance</h5>
              </div>
              <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-heart-outline"></i></div>
                <h5>Relevez le challenge !</h5>
              </div>
            </div>
          </div>
        </section>


        <hr />

        <section id="success-formula" class="pt ptb-sm-80">
          <div class="container text-center">
            <div class="row text-center">
              <div class="col-md-8 col-md-offset-2">
                <h3 class="h4">Offre</h3>
              </div>
            </div>
          </div>
        </section>

        <section id="cd-timeline" class="cd-container">

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img src="http://www.icone-png.com/png/16/16172.png" alt="">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
              <h4>QUALITÉ</h4>
              <p>Coachs professionnels certifiés</p>
            </div> <!-- cd-timeline-content -->
          </div> <!-- cd-timeline-block -->

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
              <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/43170-200.png" alt="">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h4>FLEXIBILITÉ</h4>
              <p>Entrainez vous avec différents coachs</p>
            </div> <!-- cd-timeline-content -->
          </div>

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
              <img src="https://www.kjmagnetics.com/images/safetyicon_heart.png" alt="">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
              <h4>SECURITÉ</h4>
              <p>Suivi médical continu</p>
            </div> <!-- cd-timeline-content -->
          </div>
          <!-- cd-timeline-block -->
        </section>
        <div class="container text-center">
          <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
            <%= link_to "Découvrir nos coachs", trainers_path, class: "btn btn-lg btn-green-line" %>
            </div>
          </div>
        </div>


        <br>

         <!-- End TIMELINE Section-->


        <hr />

        <!-- Client Logos Section -->
        <section id="media" class="wow fadeIn ptb ptb-sm-80">
            <div class="container text-center">
                <h3>Ils parlent de nous</h3>
            </div>
            <div class="spacer-60"></div>
            <div class="container">
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div class="client-logo">
                            <img src="http://res.cloudinary.com/dskagnrtl/image/upload/v1486380823/Logo_start_2015-e1441359012930_skvlwh.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="http://res.cloudinary.com/dskagnrtl/image/upload/v1486379990/logoMainLarge-341_qvregm.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="http://res.cloudinary.com/dskagnrtl/image/upload/v1486380044/logo_Solvay_Entrepreneurs-Retina1_cjooth.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="http://res.cloudinary.com/dskagnrtl/image/upload/v1486380017/Leansquare1-1024x314_ak0nnd.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="http://res.cloudinary.com/dskagnrtl/image/upload/v1486380080/bnp-paribas-logo_0_kcrdci.png" alt="" />
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Client Logos Section -->
        <hr>



          <!-- Contact Section -->

        <section id="contact-section" class="bg-img2 dark-bg ptb ptb-sm-80">
          <div class="container text-center">
               <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3>Nous contacter</h3>
                    </div>
                </div>
                <div class="spacer-75"></div>
                <div class="row">
                    <div class="col-md-5 contact">
                        <div class="contact-box-left mb-45">
                            <div class="contact-icon-left"><i class="fa fa-envelope-o"></i></div>
                            <h6>hello.venga@gmail.com</h6>
                        </div>
                        <div class="contact-box-left mb-45">
                            <div class="contact-icon-left"><i class="fa fa-phone"></i></div>
                            <h6>+32(0)498/26.58.23</h6>
                        </div>

                    </div>
                    <div class="col-md-6 col-md-offset-1">
                      <!-- Contact FORM -->
                      <form class="contact-form" id="contact" role="form">
                        <%= simple_form_for @contact, :html => {:class => 'contact-form' } do |f| %>

                        <div class="form-field-wrapper">
                        <%= f.input :name, class: "input-sm form-full", placeholder:"Nom", :required => true, label: false %>
                        </div>
                        <div class="form-field-wrapper">
                        <%= f.input :email, class: "input-sm form-full", placeholder:"Email", :required => true, label: false %>
                        </div>
                        <div class="form-field-wrapper">
                        <%= f.input :description, class:"form-full", placeholder:"Votre Message", as: :text, :required => true, label: false %>
                        </div>

                        </br>
                        <%= f.button :submit, 'Envoyer', :class=> "btn btn-md btn-green" %>
                      </div>
                      <% end %>

                      <!-- IF MAIL SENT SUCCESSFULLY -->
                      <h6 class="successContent">
                        <i class="fa fa-check left" style="color: #5cb45d;"></i>Votre message a bien été envoyé !
                      </h6>
                      <!-- END IF MAIL SENT SUCCESSFULLY -->

                      <!-- MAIL SENDING UNSUCCESSFULL -->
                      <h6 class="errorContent">
                        <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>Votre message n'a pas pu être envoyé. Vérifiez que tous les champs ont été complétés.
                      </h6>
                      <!-- END MAIL SENDING UNSUCCESSFULL -->

                    </form>
                    <!-- END Contact FORM -->
                  </div>
                </div>
          </div>
        </section>

         <!-- End Contact Section -->



        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->
<%= content_for(:after_js) do %>
  <script src="https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}"></script>
<% end %>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.singlepage-nav').singlePageNav({
            offset: 0,
            filter: ':not(.external)',
            updateHash: true,
            currentClass: 'current',
            easing: 'swing',
            speed: 750,
            beforeStart: function () {
                if ($(window).width() < 991) {
                    $('.singlepage-nav > ul').hide();
                };
            },
            onComplete: function () {
                console.log('done scrolling');
            }
        });
  <% end %>
<% end %>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {


      $('#btn-index-search-update').click(function(){
        var input = $('#trip_city').val()
        window.location.href = '/trips/search?trip%5Bcity%5D=' + input;
      });


    });
  </script>
<% end %>

