
<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="auNpT9NLbOWk-7Q8a1SZeGqwtIH97ukOtMDGutlsT_4" />
    <meta name="description" content="Venga connects sporties with personal trainers offering unique sport experiences in Brussels. It's time to enjoy your workout ! ">
    <title>Venga - Find your personal trainer in Brussels !</title>
  </head>

  <body>
    <div class="banner">
      <div class="banner-content">
        <h1>WELCOME VENGY !</h1>
        <p>It's time to enjoy a unique sport experience with your coach.</p>
      </div>
    </div>

    <h3 class="subsub text-center">Your next workout in Brussels</h3>

    <div class="container list-inline">
      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container list-inline">
      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container list-inline">
      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-category">
          <div class=" line1 list-inline">
            <h3>Alex</h3>
              <div class="flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
          </div>
          <div class="list-inline">
            <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
            <p>Brussels (Ixelles)</p>
          </div>
          <hr class="hr--small">
        </div>

          <div class="price list-inline">
            <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
            <h4>47€ / hour</h4>
          </div>

        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
      </div>
    </div>

      <div class="footer list-inline">
        <div class="copyright">
          <p>Copyright @ Venga 2016 - All rights reserved</p>
        </div>
        <div class="infos list-inline">
          <a href="https://www.facebook.com/bevenga">
            <i class="fa fa-facebook hello"></i>
            </a>
          <a href="mailto:hello@be-venga.com?subject=Info Venga">
            <i class="fa fa-envelope hello" aria-hidden="true"></i>
          </a>
          <p class="phone">+32(0)498/26.58.23</p>
        </div>

      </div>
    </body>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89250384-1', 'auto');
    ga('send', 'pageview');

    </script>

</html>






