
<!DOCTYPE html>
<html>

  <% content_for :meta_title, "Venga - Find your personal trainer in Brussels !" %>
  <% content_for :meta_description, "Venga connects you with personal trainers offering unique sport experiences in Brussels." %>

  <head>
  </head>

  <body>
    <div class="banner">
      <div class="banner-content">
        <h1>WELCOME VENGY !</h1>
        <p>It's time to enjoy a unique sport experience with your coach.</p>
      </div>
    </div>

    <p class="subsub text-center">Vos coachs sportifs à Bruxelles</p>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Valentina</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("it.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("sp.jpg", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("valent.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
              à partir de<br>
              55€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Grâce à une double qualification de personal trainer (NASM) et de nutritioniste, Valentina a pour objectif de vous aider à trouver votre équilibre personnel. Quel que soit votre objectif, elle vous aidera à le réaliser.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0472/67.36.39</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>coaching@strongandfiercefitness.com</p></div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Arvine</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("fl.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                 <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline row">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("Arv.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                60€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Titulaire d'un master en training (VUB) et d'une certification de coaching UEFA A, Arvine met à votre disposition son expérience personelle et professionelle pour vous permettre de dépasser vos limites. </p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/17.33.44</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@unboxtraining.com</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Florence</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("flo.jpg", :alt => "rss feed", :height => "140%", :width => "36%", class: "picture") %>
              <h4>
                à partir de<br>
                60€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Personal trainer certifiée EREPS et NASM, ses connaissances en anatomie fonctionnelle couplées à une pratique sportive intensive lui permettent de vous accompagner vers vos objectifs en toute sécurité. </p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0473/56.93.87</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>florencesamain@hotmail.com</p></div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Nadine</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("nad.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                45€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Vous amener vers un bien-être général, telle est sa mission. Cette danseuse professionelle formée aux dernières techniques sportives vous aidera à relever vos défis les plus fous. </p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0476/53.05.27 </p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>nadine.winterbeek@bc-training.be</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Chloé</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("chloe.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                60€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Professionelle du coaching sportif personnel, Chloé vous transmet sa passion pour vous emmener en dehors de votre zone de confort et atteindre des résultats exceptionnels. </p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/09.33.28 </p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@unboxtraining.com </p></div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Maxime</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("max.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                75€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Personal trainer certifié, Maxime partage sa passion pour le sport à travers les meilleures salles de fitness de la capitale, à domicile et sur votre lieu de travail depuis plus de 7 ans. Lui faire confiance, c’est vous faire confiance.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0494/85.42.04 </p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>maximeswennen@gmail.com </p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Margaux</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline row">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <div class="row">
              <hr class="hr--small">
            </div>
          </div>

            <div class="price list-inline">
              <%= image_tag("marg.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
              à partir de<br>
              30€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Ex-athlète de haut niveau, professionnelle et diplômée qui vous aidera à atteindre vos objectifs de façon rapide et adaptée avec pour trame de fond votre santé. </p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0478/37.14.95</p></div>
             <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@margauxrubi.be</p></div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Mounia</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("moun.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                60€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Membre de la Physical Coaching Academy certifiée en tant que Personal Trainer, Mounia vous maintient au top de votre forme pour améliorer votre bien-être physique et moral. </p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0484/61.51.42</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>mouniamiri@yahoo.fr</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Tom</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fl.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline row">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("ode.gif", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                40€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Athlète professionnel ayant plus de 20 ans d'expérience dans le monde du coaching sportif. Il s'inspire de ses connaissances techniques et pratiques pour réaliser des programmes adaptés à vos besoins et envies. </p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0478/33.09.01</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>odethompson@yahoo.co.uk</p></div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Virginie</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("virg.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                40€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Riche de son expérience en tant que coach sportif, Virginie a lancé son concept de "Gym Poussette" qui permet aux jeunes mamans de faire de l'exercice tout en s'occupant de leur enfant.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0473/32.07.80</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@vdcoaching.be</p></div>
            </div>
          </div>
        </div>
      </div>

     <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Chelly</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("fl.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("chelly.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                60€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Chelly est spécialisée dans l’entraînement fonctionnel, une méthode dynamique et ludique permettant de travailler le corps dans son entièreté avec comme finalité un meilleur confort de vie au quotidien.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0472/94.62.35</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>coaching@chellyvs.com</p></div>
            </div>
          </div>
        </div>
      </div>

     <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Charlotte</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels (Wezembeek-Oppem)</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("cha.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                64€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Titulaire d'une Licence en Education Physique et certifiée par STOTT Pilates, Charlotte vous propose les méthodes d'entrainement les plus récentes dans le but de vous mener à une meilleure qualité de vie.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/67.24.02</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@charlottestudio.be</p></div>
            </div>
          </div>
        </div>
      </div>

     <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Merche</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("sp.jpg", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels (Wezembeek-Oppem)</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("merche.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                64€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Danseuse professionnelle diplômée à l’École Nationale de Danse d’Espagne, Merche est également certifiée en Pilates (Polestar Edu.). Elle se concentre sur la flexibilité, la force musculaire et l’équilibre physique et mental.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/67.24.02</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@charlottestudio.be</p></div>
            </div>
          </div>
        </div>
      </div>

           <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Yvonne</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("sp.jpg", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("prt.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels (Wezembeek-Oppem)</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("yvonne.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                64€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Cette infirmière néonatale de formation travaille dans le monde du fitness depuis plus de 20 ans. Yvonne s'est notamment formée à la méthode Pilates (Polestar Pilates) pour vous aider à atteindre vos objectifs.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/67.24.02</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@charlottestudio.be</p></div>
            </div>
          </div>
        </div>
      </div>

           <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Véronique</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fl.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels (Wezembeek-Oppem)</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("véro.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                64€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Danseuse professionnelle, Véronique a eu recours à la méthode Pilates pendant plus de 17 ans. Certifiée en Pilates depuis l’an 2000, elle est particulièrement specialisée dans la santé et le bien-être de la femme.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/67.24.02</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@charlottestudio.be</p></div>
            </div>
          </div>
        </div>
      </div>

           <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Michaël</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels (Wezembeek-Oppem)</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("mick.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                64€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Michaël est diplômé d’un master en éducation physique et est un ancien nageur de haut niveau. Avide d’être à la pointe des techniques actuelles, il a complété son cursus par  de nombreuses formations spécifiques.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/67.24.02</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@charlottestudio.be</p></div>
            </div>
          </div>
        </div>
      </div>

           <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Sandra</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("sp.jpg", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels (Wezembeek-Oppem)</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("sand.jpg", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                64€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Yoga, Tai chi, Pilates, Sandra est une vraie passionnée de fitness. Curieuse de la biomécanique du corps humain, elle devient enseignante de la méthode Pilates en 2014 grâce à la formation de STOTT Pilates.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0479/67.24.02</p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>info@charlottestudio.be</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-category">
            <div class="line1 row">
              <div class="col-md-9 col-sm-9 col-xs-9"><h2>Henri-Mathieu</h2></div>
              <div class="col-md-3 col-sm-3 col-xs-3 flags">
                <%= image_tag("fr.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
                <%= image_tag("en.png", :alt => "rss feed", :height => "40%", :width => "40%", class: "") %>
              </div>
            </div>
            <div class="list-inline">
              <%= image_tag("location.png", :alt => "rss feed", :height => "5%", :width => "5%", class: "location") %>
              <p>Brussels</p>
            </div>
            <hr class="hr--small">
          </div>

            <div class="price list-inline">
              <%= image_tag("mat.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>
                à partir de<br>
                60€ / heure
              </h4>
            </div>

          <div class="card-description">
            <p>Kinésithérapeute de formation, sa philosophie de travail passe par trois pôles: remise en forme, préparation physique et bien être.</p>
            <div class="contact row">
              <div class="col-md-5 col-sm-12 col-xs-12"><p>0475/23.72.27 </p></div>
              <div class="col-md-7 col-sm-12 col-xs-12 text-right"><p>hmfraiture@gmail.com</p></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </body>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89250384-1', 'auto');
    ga('send', 'pageview');

    </script>

</html>






