
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for(@trainer) do |f| %>
      <%= f.input :city %>
      <%= f.input :description %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :specialities %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
