<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Venga connects you with passionate coaches offering unique sport experiences in Brussels. It's time to enjoy your workout ! ">
    <meta property=“og:title” content=“Venga - A perfect workout, just like you.”>
    <meta property=“og:image” content=“Imgfb.png”>
    <meta property=“og:description” content=“Venga helps you planning your next workout by offering varied sporting activities offered by passionate coaches in Brussels.”>
    <meta name="google-site-verification" content="auNpT9NLbOWk-7Q8a1SZeGqwtIH97ukOtMDGutlsT_4" />
    <title>Venga - Find your personal trainer in Brussels !</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=1845234315688643";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
